<div class="container-fluid   p-0">

    <div class="row content-justify-around">
      <div class=" col-12 col-sm-4 d-flex justify-content-center align-items-center footer-col">
        114 S. Elm St,
        <br>
        Medina, OH, 44256
        <br>
        330-789-4561
      </div>
      <div class="col-12 col-sm-4 footer-title text-center">
        <h1>Diner 59'er</h1>

        <h4>Diner Tag Line</h4>
      </div>
      <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center">
        <a  href="www.facebook.com"><img src="../../assets/icons/facebook.png"></a>
        <a  href="www.twitter.com"><img src="../../assets/icons/twitter.png"></a>
        <a  href="www.instagram.com"><img src="../../assets/icons/instagram.png"></a>

      </div>
    </div>
    <div class="row">
      <div class="col">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>


