<div class="contianer-fluid">
  <div class="row">
    <div class=" col-12 col-sm-6  d-flex align-items-center justify-content-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgYPO02uihMtCmZVHr8UfPTiWvppYjlZKihw&usqp=CAU">
    </div>
    <div class="col-12 col-sm-6 about-text">
      <h3>Where we started</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor dolor vitae mi efficitur, vitae blandit risus mattis. Donec euismod pulvinar mattis. Ut eu dolor velit. Aenean dapibus egestas libero, eget hendrerit mi viverra quis. Cras gravida ex et dui efficitur, vel efficitur dui pulvinar. Nulla pretium eleifend felis, quis consectetur eros tincidunt sit amet. Aliquam erat volutpat. Aenean ac ornare velit, vel blandit velit. Ut sit amet volutpat arcu, vel rhoncus arcu. Donec lacinia augue quis nisl laoreet eleifend. Cras vel auctor nunc.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6  d-flex align-items-center justify-content-center">
      <img src="https://i.pinimg.com/originals/4c/aa/02/4caa02f0e3d80db63a75e368cd2ca476.jpg">
    </div>
    <div class="col-12 col-sm-6 about-text">
      <h3>Where we are now</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor dolor vitae mi efficitur, vitae blandit risus mattis. Donec euismod pulvinar mattis. Ut eu dolor velit. Aenean dapibus egestas libero, eget hendrerit mi viverra quis. Cras gravida ex et dui efficitur, vel efficitur dui pulvinar. Nulla pretium eleifend felis, quis consectetur eros tincidunt sit amet. Aliquam erat volutpat. Aenean ac ornare velit, vel blandit velit. Ut sit amet volutpat arcu, vel rhoncus arcu. Donec lacinia augue quis nisl laoreet eleifend. Cras vel auctor nunc.</p>

    </div>
  </div>
</div>
