<nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#" routerLink="">Diner 59'er</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  href="#" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/location">Location</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catering
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/catering">Menu</a>
          <a class="dropdown-item" href="#" routerLink="/catering" fragment="'pricing'">Prices</a>
          <a class="dropdown-item" href="#">Schedule</a>
        </div>

      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../assets/icons/facebook.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../assets/icons/twitter.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../assets/icons/instagram.png"></a>
      </li>

    </ul>
  </div>
</nav>

