<app-navbar></app-navbar>
<div class="catering-image">
  <div class="catering-image-text">
    <h1>Planning an Event?</h1>
    <p>Let us take care of the food!</p>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col catering-heading">
      <h4><strong>Get all the foods you love, delivered wherever you need them.</strong></h4>
      <p>Let our catering team build the perfect spread for your event.
        We deliver, set up, clean up, and everything in-between so you
        can relax and enjoy your event! </p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col catering-heading">
      <h4><strong>Menu Options</strong></h4>
      <p>Our entire menu is avalible for catering and we can customize it to fit your needs.
        Special dietary needs can easily accomodated, please just let us know. </p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col catering-heading" id="pricing">
      <h4><strong>Breakfast/Brunch</strong></h4>
      <p>Hosting a breakfast or brunch? or just love breakfast food?</p>
      <P>Pricing starts at $12 per person + gratuity</P>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col">
      <p><em><strong>Choice of breads</strong></em></p>
      <p>Toast: white, wheat, or rye</p>
      <p>Bagels: plain, wheat, blueberry, onion, cinnamon, or everything</p>
      <p>Muffins: blueberry, chocolate, bran, carrot, banana, plain, or cinnamon</p>
      <p><em><strong>Choice of beverages</strong></em></p>
      <p>Coffee: regualr or decaf</p>
      <p>Hot tea: assorted flavors</p>
      <p>Jucie: Orange, Tomato, Apple, or Grapefruit</p>
      <p>Bottled Water</p>
      <p><em><strong>Adult Beverages</strong></em></p>
      <p><em>avaliable for an extra $9 per person</em></p>
      <p><em>Venue must allow serving of alcohol</em></p>
      <p>Options include: Mimosas, Bloody Mary's, & Sangria</p>
      <p><em>Can accomdate additional requests, just let us know!</em></p>
    </div>
    <div class="col">
      <p><em><strong>Meal Options</strong></em></p>
      <p>Pancakes: regular, blueberry or silver-dollar</p>
      <p>Waffles: regular, blueberry, or cinnamon</p>
      <p><em>Fruit topping avaliable for $2 extra</em></p>
      <p>Eggs: scrambled</p>
      <p>Breakfast Sandwiches: bread type/cheese/egg/meat</p>
      <p>Breakfast Burritos: eggs/meat/cheese/salsa</p>
      <p><em><strong>Omelette Bar</strong></em></p>
      <p><em>avaliable for an extra $4/person</em></p>
      <p>Eggs: two or three</p>
      <p>Cheese: Chedder, Swiss, Gouda, PepperJack or MontereyJack</p>
      <p>Meat: Sausasge, Bacon, or Ham</p>
      <p>Veggies: Peppers, Mushrooms, Broccoli, Tomato, Onion, and Spinach </p>
      <p>Toppings: Salsa, Hot Sauce, and Sour Cream</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col dinner-heading">
        <h4><strong>Dinner Buffet</strong></h4>
        <p>Getting married, graduating, or hosting an event?</p>
        <p>Pricing starts at $19 per person + gratuity</p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col buffet-options">
      <h3><strong>Entree Selections</strong></h3>
      <p>Chicken Kebobs</p>
      <p>Chicken Parm</p>
      <p>Roasted Turkey</p>
      <p>Broiled Fish</p>
      <p>Fried Chicken</p>
      <p>Pork Medallions</p>
      <p>Sirloin Steak <em>$2 extra</em></p>
      <p>Prime Rib <em>$3 extra</em></p>
    </div>
    <div class="col buffet-options">
      <h3><strong>Potato Selections</strong></h3>
      <p>Garlic Mashed</p>
      <p>Roasted Redskin</p>
      <p>Au Gratin</p>
      <p>Scalloped</p>
      <h3><strong>Vegetable Selections</strong></h3>
      <p>Green Beans</p>
      <p>Mixed Veggies</p>
      <p>Roasted Corn</p>
      <p>Carmalized Carrots</p>
      <p></p>
    </div>
  </div>
</div>

<app-calendar></app-calendar>
<app-footer></app-footer>
