<app-navbar></app-navbar>
<div class="header-pic">
  <img src="https://d1ralsognjng37.cloudfront.net/1da06c51-a5d1-43d5-801e-6eea662337a7.jpeg">
</div>

<div class="container-fluid px-0">
  <div class="row breakfast-row">
    <div class="col">
      <h2>Breakfast Specials</h2>
      <p><strong>EGGS BENEDICT</strong>  $11.45</p>
      <p><strong>EMERGENCY ROOM</strong> $11.45 | 2 eggs, any style, 2 pancakes 3 pc bacon or sausage, home fries or grits, and toast (substitute ham, beef sausage, turkey sausage, hot sausage or linguica $1.75 extra)</p>
      <p><strong>INTENSIVE CARE</strong>  $13.95 | 3 eggs, any style, 10-oz sirloin steak, home fries or grits, and toast</p>
      <p><strong>THE OL' 59'ER</strong>  $11.45 | Hand-carved ham off the bone, 2 eggs any style, home fries or grits, and toast</p>
      <p><strong>HOMEMADE HASH & EGGS</strong>  $11.45 2 eggs any style over corned beef hash or turkey hash, home fries or grits, and toast</p>
      <p><strong>DUCK CONFI HASH</strong>  $13.95 | 2 eggs any style over duck confit hash, home fries and grits and toast</p>
      <p><strong>WEEKDAY SPECIAL</strong>  $8.95 Monday to Friday, 6 a.m. to 11:30 a.m. | 3 eggs any style, bacon or sausage (3 pc), grits or home fries, toast and coffee (no substitutions)</p>
      <h2>PANACKES</h2>
      <p><strong>2 LARGE BUTTERMILK</strong>(SIDE) $5.95</p>
      <p><strong>3 LARGE BUTTERMILK</strong>(FULL ORDER) $6.95 | with fruit (banana, blueberry, strawberry or mixed) add $2.50</p>
      <p><strong>DYNAMIC DUO</strong>  $8.95  | 2 pancakes, 2 eggs*  | with bacon or sausage (3 pc) add $1.95 | with ham, beef, turkey sausage, linguica or hot sausage add $2.75</p>
      <p><strong>FRENCH TOAST</strong>  FULL ORDER $8.95 | 5 large pieces | add 2 eggs* $11.95, SIDE ORDER (3 large pieces) $7.95 | with 2 eggs* $10.95 | with bacon or sausage (3 pc) add $1.95 with ham, linguica, beef sausage, turkey sausage or hot sausage add $2.75</p>
      <p><strong>BELGIAN WAFFEL</strong>  $7.50 plain | with fruit, banana, strawberry, blueberry or mixed add $2.50  | with whipped cream add .75 cents</p>
      <p><strong>WAFFLE WITH TWO EGGS</strong>  $10.45</p>
      <p><strong>CINNAMON WALNUT WAFFELS</strong>  $7.95  add fruit $2.50</p>
      <h2>BREAKFAST SANDWICHES</h2>
      <em>Served on Toast</em>
      <p><strong>FRIED EGG</strong>  $3.50</p>
      <p><strong>HAM & EGG</strong>  $4.50</p>
      <p><strong>BACON & EGG</strong>  $4.50</p>
      <p><strong>LINGUICA & EGG</strong>  $4.95</p>
      <p><strong>SAUSAGE & EGG</strong>  $4.50</p>
      <p><strong>BEEF SAUSAGE & EGG</strong>  $4.95</p>
      <p><strong>HOT SAUSAGE & EGG</strong>  $4.95</p>
      <p><strong>TURKEY SAUSAGE & EGG</strong>  $4.95</p>
      <em>On bagel, raisin toast or English muffin add .20 cents. Cheese, add .50 cents</em>
      <h2>BREAKFAST BURRITOS</h2>
      <p><strong>LUCYLOU</strong>  $8.45 | Eggs, chorizo, cheese, onions</p>
      <p><strong>BARBARITA</strong>  $8.45  | Eggs, spinach, broccoli, tomato, mushroom, cheese, onions</p>
      <p><strong>DEIGO</strong>  $8.45 | Corned beef hash & eggs</p>
      <p><strong>MEXICANA</strong> $8.45 | Chili, eggs & sour cream</p>
      <em>Add home fries $2.00</em>
    </div>
    <div class="col">
      <h2>Eggs</h2>
      <em>Includes home fries or grits & toast. Substitute with beef sausage, turkey sausage, linguica or hot sausage, $1.75 extra. Egg whites 0.50 extra.</em>
      <p><strong>1 EGG ANY STYLE</strong> $5.95 | <strong>with bacon or sausage</strong> $6.95</p>
      <p><strong>2 EGGS ANY STYLE</strong> $6.95 | <strong>with bacon or sausage</strong> $7.95</p>
      <p><strong>3 EGGS ANY STYLE</strong> $7.95 | <strong>with bacon or sausage</strong> $8.95</p>
      <h2>OMLETTES</h2>
      <em>All made with 3 farm fresh eggs Includes home fries or grits and toast</em>
      <p><strong>BASIC 3 EGG OMLETTE</strong>  $7.75</p>
      <P><strong>Build Your Own:</strong></P>
      <p>Vegetables (add $1 each): broccoli, spinach, mushroom, onion, pepper, tomato</p>
      <p>Cheeses (add $1 each): American, Cheddar, Feta, Mozzarella, Swiss, Parmesan</p>
      <p>Meats (add $1.75 each): bacon, sausage, ham, linguica, beef sausage, turkey sausage, hot sausage</p>
      <h2>SPECIAL OMELETTES</h2>
      <p><strong>SOUTHENDER</strong>  $10.95 | Corned beef hash and cheese</p>
      <p><strong>PREMIER</strong>  $10.95 | Corned beef and Swiss cheese</p>
      <p><strong>STEAK & CHEESE</strong>  $10.95</p>
      <p><strong>MEXICAN</strong>  $10.95 | Chili and Cheddar cheese</p>
      <p><strong>GREEK</strong>  $10.95 | Spinach, tomato, Feta cheese</p>
      <p><strong>EAST SPRINGFIELD</strong>  $10.95 | Spinach, broccoli, tomato, mushrooms, onion, cheese</p>
      <p><strong>SPANISH</strong>  $10.95 | Salsa and Cheddar cheese</p>
      <h2>SIDE ORDERS</h2>
      <p><strong>BACON</strong>  $3.75</p>
      <p><strong>PORK SAUSAGE</strong>  $3.75</p>
      <p><strong>TURKEY SAUSAGE</strong>  $3.95</p>
      <p><strong>LINGUICA OR BEEF SAUSAGE</strong>  $3.95</p>
      <p><strong>HOT SAUSAGE</strong>  $3.95</p>
      <p><strong>HASH</strong>  (homemade corned beef or turkey hash) $5.95</p>
      <p><strong>SIDE HAM</strong>  $4.95</p>
      <p><strong>SIDE HOME FRIES</strong>  $3.95</p>
      <p><strong>TOAST</strong>  (white, wheat, rye) $2.25</p>
      <p><strong>RAISIN TOAST</strong>  $2.50</p>
      <p><strong>ENGLISH MUFFIN</strong>  $2.50</p>
      <p><strong>ONE EGG ANY STYLE</strong>  $1.95</p>
      <p><strong>EXTRA CHEESE</strong>  $0.95</p>
      <p><strong>MUFFINS</strong> (blueberry, corn, cinnamon, bran, lemon poppy) $2.50</p>
      <p><strong>BAGELS</strong>  (plain, onion, raisins, sesame) $2.15  <strong>with cream cheese</strong>  $3.15</p>
      <p><strong>Oatmeal</strong>  $4.50 <strong>Add Fruit</strong>  $6.00</p>
      <p><strong>GRITS</strong>  $4.50</p>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <h2>SALADS</h2>
      <p><strong>CEASAR SALAD</strong>  $7.50  | with grilled chicken $10.45</p>
      <p><strong>GARDEN SALAD</strong>  $7.50</p>
      <p><strong>GREEK SALAD</strong>  $7.50</p>
      <p><strong>CHEF SALAD</strong>  $10.45</p>
      <p><strong>SALAD WITH TUNE</strong>  $9.45</p>
      <p><strong>SALAD WITH CHICKEN SALAD</strong>  $9.45</p>
      <p><strong>SALAD WITH FRESH TURKEY</strong>  $10.45</p>
      <p><strong>SALAD WITH GRILLED CHICKEN</strong>  $10.45 | Add feta cheese $1.00 | add topping $1.95</p>
      <h2>SOUP, CHILI, STEW</h2>
      <p><strong>SOUP OF THE DAY</strong> cup $3.95 bowl $4.50</p>
      <p><strong>CHILI</strong>  cup $3.95 bowl $4.95</p>
      <p><strong>STEW</strong>  cup $3.95 bowl $4.95</p>
      <p><strong>CLAM CHOWDER</strong>  cup $3.95  bowl $4.95</p>
      <h2>SANDWICHES</h2>
      <EM>Served with lettuce, tomato, onion, and pickle.  On white, wheat, rye, French, bulkie, or braided roll</EM>
      <p><strong>TURKEY</strong>  $8.75 | Fresh roasted turkey</p>
      <p><strong>PASTRAMI</strong>  (homemade) $8.75</p>
      <p><strong>COREND BEEF</strong>  (homemade) $8.75</p>
      <p><strong>HAM</strong>  (hand-carved ham) $8.75</p>
      <p><strong>CHICKEN TERIYAKI</strong>  $8.75</p>
      <p><strong>HADDOCK</strong>  $8.75</p>
      <p><strong>GRILLED CHEESE</strong>  $6.45</p>
      <p><strong>B.L.T.</strong>  $6.45</p>
      <p><strong>CHIKCEN SALAD</strong>  $7.95</p>
      <p><strong>TUNA SALAD</strong>  $7.95</p>
      <p><strong>MEATLOAF</strong>  $8.75</p>
      <p><strong>ROAST BEET</strong>  $8.75</p>
      <p><strong>TUNA MELT</strong>  $8.75</p>
      <p><strong>With fries</strong> add $2.25 <strong>With onion rings</strong> add $2.50</p>
      <h2>DINNERS</h2>
      <em>All dinners come with two side orders; salad $2.25 extra</em>
      <p><strong>CHICKEN KEBOBS OVER RICE WITH GREEK SALAD</strong>  $12.95</p>
      <p><strong>MEATLOAF</strong>  $11.95</p>
      <p><strong>GRILLED CHICKEN BREAT</strong>  (BBQ, CAESAR, TERIYAKI) $12.95</p>
      <p><strong>CHICKEN PARM WITH ZITI</strong>  $12.95</p>
    </div>
    <div class="col">
      <h2>SPECIAL SANDWICHES</h2>
      <p><strong>MIKES FAMOUS PILGRIM</strong>  $11.95 | Turkey, stuffing and cranberry sauce, served with fries and pickle</p>
      <p><strong>PHILLY STEAK</strong>  $11.95 | Shaved steak with onion, peppers, mushrooms and cheese, served with fries and pickle</p>
      <p><strong>RUEBEN</strong>  $11.95 | Corned beef, Swiss, sauerkraut and Russian dressing, served with fries and pickle</p>
      <p><strong>CHICKEN CUTLET WITH BACON & SWISS CHEESE</strong>  $11.95</p>
      <p><strong>TRIPLE-DECKER-CLUB</strong>  With bacon, lettuce, tomato, mayo Served with fries and pickle. On white, wheat or rye toast. No substitutions. $11.95 ROAST BEEF $11.95 BURGER* $11.95 CARVED HAM $11.95 TUNA SALAD $11.95 TURKEY CLUB $11.95</p>
      <h2>ALL BEEK HAND-PRESSED 8OZ BURGERS</h2>
      <em>Served with lettuce, tomato, onion, fries, and pickle</em>
      <p><strong>SIRLOIN BURGER</strong>  $9.95</p>
      <p><strong>PEPPER BURGER</strong>  $10.45</p>
      <p><strong>CHESSEBURGER</strong>  $10.45</p>
      <p><strong>MUSHROOM BURGER</strong>  $10.45</p>
      <p><strong>BACON BURGER</strong>  $10.45</p>
      <h2>HOMEMADE SIDE DISHES</h2>
      <p>Mashed Potatoes</p>
      <p>Cole Slaw</p>
      <p>Rice Stuffing</p>
      <p>Vegtable of the Day</p>
      <p>French Fries</p>
      <p>Butternut Squash</p>
      <h2>SPECIAL DINNERS</h2>
      <p><strong>TURKEY DINNER</strong>  with all the fixin's $13.95</p>
      <p><strong>FISH & CHIPS</strong>  served with French Fries and Cole Slaw $13.95</p>
      <p><strong>FRIED CHICKEN DINNER</strong>  comes with 2 side orders $11.95</p>
      <h2>BEVERAGES</h2>
      <p><strong>COFFEE OR TEA</strong>  (bottomless cup) $2.75</p>
      <p><strong>HOT CHOCOLATE</strong>  $1.95</p>
      <p><strong>MILK</strong>  small $1.95 large $2.50</p>
      <p><strong>BOTTLED WATER</strong>  $1.50</p>
      <p><strong>SODA</strong>  $1.50</p>
      <p><strong>TAKE-OUT SODA</strong>  $1.25</p>
      <p><strong>JUICE</strong>  ORANGE, APPLE, LEMONADE, CRANBERRY, TOMATO, GRAPEFRUIT small $1.75 large $2.50</p>
    </div>
  </div>
  <div class="row disclaimers-row">
    <div class="col disclaimers-col">
      <em>All food items marked * are cooked to order.</em>
      <br>
      <em>Consuming raw or undercooked meat, poultry, seafood, shellfish or eggs may increase risk of foodborne illness. </em>
      <br>
      <em>Diner 59'er mug for $9.95</em>
      <br>
      <em>Parties of 6 or more, a 20% gratuity will be added to your bill</em>
      <br>
      <em>Before placing your order, please inform your server if a person in your party has a food allergy.</em>
    </div>
  </div>
</div>
<app-footer></app-footer>
